//Colores

$turquesaBasic: #0CC7ED;
$turquesaOscuro: #14839A;
$turquesaGrisFondo: #34484C;
$hover: #85C9D6;
$borde: #0093AF;
$turquesaFondoOscuro: #1b2b2f;
$negro: #060707;


/*
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable modal-sm">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h2 class="text-center">Iniciar Sesión</h2>
            </div>
            <div class= "modal-body align-items-center justify-content-center" id="formulario">
                <form method='post' action='SesionInicioComprobar.php'>
                    <table>
                        <tr>
                            <td>
                                <p>Usuario: </p><br>
                                <input type='text' name='identificador' id='identificador' placeholder="Usuario"
                                    required/>
                                <br><br>
                                <p>Contraseña:</p><br>
                                <input type='password' name='contrasenna' id='identificador' placeholder="Contraseña"
                                    required/>
                                <br><br>
                                <p>Recuérdame:</p>
                                <label>
                                    <input style="width: 20px;" type='checkbox' name='recordar' id='recordar'>
                                </label>
                            </td>
                        </tr>
                    </table>
                    <br/>

                    <button type='submit' name='iniciar' value='Iniciar Sesión'>Iniciar Sesion</button>
                    <hr>
                    <p>No tienes cuenta: <a href='/Proyecto final/SesionInicioComprobar.php'>Regístrate.</a></p>
                </form>
                <div class="d-flex">
                    <button type="button" class="ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
*/