// Variables

$turquesaBasic: #0CC7ED;
$turquesaOscuro: #14839A;
$turquesaGrisFondo: #34484C;
$hover: #85C9D6;
$borde: #0093AF;
$turquesaFondoOscuro: #1b2b2f;
$negro: #060707;
$icono: #07e4bf; 

$amarilloIcono: #d8ee14;
$azulIcono: #49b6ff;
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$azulClaro: #65c1ff;
$azulLogotipo: #0099ff;
$azulLetras: #2ebdff;
$azulOscuro: #0011ff;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;