@import "_vars.scss";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: rgb(14, 51, 100);
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 10px,
    rgba(0, 3, 44, 0.8) 9px,
    rgba(0, 27, 58, 0.8) 13px,
    transparent 13px
  );
  
  height: 100vh;
  font-family: $open-sans;
}
  h1{
      color: #106a7c;
  }
  h2{
      color: #106a7c;
  }

  a {
    text-decoration: none;
}

.logo {
  max-width: 20%;
  margin-right: 3em;
}
.logo img{
  min-width: 4em;
  max-width: 4em;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: $open-sans;
  background-color: #071c22d3;
  justify-content: center; 
}

.nav-uls {
  display: flex;
  align-items: center;
  font-family: $open-sans;
  justify-content: flex-start; 
  align-self: flex-end;
  min-width: 80%;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
}

.navbar-nav li{
  margin-left: 1.5em;
}

nav button{
    background-color: rgba(4, 155, 255, 0.651);
}

.fas.fa-bars{
  font-size: 2em;
  max-width: fit-content;
  align-self: center;
}
.fas.fa-bars:hover{
  font-size: 2em;
  max-width: fit-content;
  align-self: center;
}

#navRightPrincipal {
  padding: 8%;
  background-color: rgb(23, 63, 90);
  border: 1px solid #0011ff;
}

.fas {
  font-size: 1em;
  color: #49b6ff;
  cursor: pointer;
  line-height: 2;
}
.fas:hover {
 font-size: 1em;
 color: #d8ee14;
 cursor: pointer;
}


a:hover{
  color: #00cbf3;
}

button{
  background-color: #49b6ff;
  border: 1px solid #0093AF;
  border-radius: 5px;
}
button:hover{
  background-color: #85C9D6;
}
 
  /*Migas de Pan*/

  ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .listasUsuario img{
   height: 200px;
   width: 150px;
   margin: 1em;
   border: 1px solid black;
   border-radius: 10%;
  }

  .collapsible {
    margin-top: 1em;
    border-radius: 2em;
    background-color: #49b6ff;
    color: $black;
    cursor: pointer;
    padding: 1em;
    min-width: 45%;
    max-width: 45%;
    border: 1px solid black;
    text-align: center;
    outline: none;
    align-self: center;
    box-shadow: 5px 10px 10px black;
  }

  .collapsible h4{
    font-size: 2em;
  }
  
  .collapsible:hover {
    background-color: $regal-blue;
    color: black;
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    align-items: center;
  }

  .containerPeli{
    display:inline-block;
    position:relative;
    }
    
    .containerPeli button{
    position: absolute;
    top: 1em;
    right:1.2em;
    background-color:#8f00059c;
    border-radius: 50%;
    border:none;
    color:white;
    height: auto;
    width: auto;
    }

    .containerPeli button:hover{
      position: absolute;
      top:1em;
      right:1.2em;
      background-color:#e92b3163;
      border-radius: 50%;
      color:white;
      text-transform:uppercase;
      height: auto;
      width: auto;
      }

      .eliminarLista{
        margin-right: 1em;
        background-color:#8f0005c9;
        border-radius: 50%;
        font-size: medium;
        border:none;
        color:white;
        height: auto;
        width: auto;
      }

      .eliminarLista:hover{
        margin-right: 1em;
        background-color:#e92b31d8;
        border-radius: 50%;
        font-size: medium;
        border:none;
        color:white;
        height: auto;
        width: auto;
      }

      #abreModal{
        font-size: 1.2em;
        color: $white;
        background-color: #071c22d3;
        border-radius: 5%;
        border: 1px solid #00768d;
        box-shadow: rgba(0,0,0,0.8) 5px 1px 5px;
      }

      #abreModal:hover{
        border-radius: 5%;
        background-color: #00768d;
        box-shadow: rgba(0,0,0,0.8) 5px 1px 5px;
      }

  .modal-open .container{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

  #modalAlerta{
    width: 100%;
  }

  .alert{
    width: max-content;
  }

  .modal-dialog{
    min-width: 30%;
  }

  .modal-body {
      color: $azulClaro;
      background-color: rgb(23, 63, 90);
      border: 1px solid #1D2728;
  }

  .modal-header {
      background-color:#071c22d3;
      color: $azulClaro;
      border: none;
      align-items:center;
      border-radius: 0;
  }

  .modal-open .container-fluid
  {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
  }

  .crear{
    margin-left: 1em;
  }

//LOGOTIPO*******************************************************************

.contenidoFooter h1 {
  margin-top: 5%;
  font-size: calc(20px + 9vh);
  line-height: calc(20px + 10vh);
  text-shadow: 0 0 5px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff, 0 0 40px #28a9ff, 0 0 60px #0011ff, 0 0 10px #0011ff, 0 0 98px #0011ff;
    color: #2ebdff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff, 0 0 40px #28a9ff, 0 0 60px #0011ff, 0 0 10px #0011ff, 0 0 98px #0011ff;
      color: #2ebdff;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff, 0 0 40px #28a9ff, 0 0 60px #0011ff, 0 0 10px #0011ff, 0 0 98px #0011ff;
      color: #2ebdff;
  }
}


//FOOTER***************************************************************************

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.challenge {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.challenge h1 {
  width: 100%;
}


.contenidoFooter {
  width: 100%;
  height: 320px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.contenidoFooter .shareButton.main .share, .contenidoFooter .shareButton.main .close, .contenidoFooter .shareButton.main .check {
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
.contenidoFooter .shareButton.main .share, .contenidoFooter .shareButton.main.open .close, .contenidoFooter .shareButton.main.sent .check {
  -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  opacity: 1;
}
.contenidoFooter .shareButton.main .close, .contenidoFooter .shareButton.main.open .share, .contenidoFooter .shareButton.main .check, .contenidoFooter .shareButton.main.sent .share {
  opacity: 0;
  -webkit-transform: rotate(90deg) scale(0);
          transform: rotate(90deg) scale(0);
}

.shareButton, .shareButton.open {
  border: none;
  border-radius: 50%;
  background: #0099ff;
  padding: 1rem;
  overflow: hidden;
  outline: none;
  margin: 0.5rem;
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.shareButton:hover, .shareButton.open:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.shareButton svg, .shareButton.open svg {
  display: block;
  fill: #0011ff;
  width: 24px;
  height: 24px;
  opacity: 1;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fb, .shareButton.open.ig {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.tw, .shareButton.open.tw {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.ig, .shareButton.open.fb {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.fb, .tw, .ig {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.fb svg, .tw svg, .ig svg {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

footer {
  background-color: $regal-blue;
}