/*@import "_vars.scss";*/

body{
    background-color: rgb(23, 63, 90);
}
h1{
    color: #0CC7ED;
}
h2{
    color: #0CC7ED;
}

h4{
    color: #0CC7ED;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color: #071c22d3;
}

nav button{
    background-color: rgba(4, 155, 255, 0.651);
}

.modal-dialog{
    min-width: 350px;
}
.modal-body {
      background-color: rgb(23, 63, 90);
      border: 1px solid #1D2728;
}
.modal-header {
      background-color:#071c22d3;
      border: none;
      align-items:center;
      border-radius: 0;
}
.modal-content:hover {
      border: 1px solid #14839A;
      box-shadow: #14839A;
}

ul {
    text-decoration: none;
}
.form-control {
    background-color: #6ef3ff;
    height: 40px;
    width: 480px !important;
    border: 1px solid #1b2b2f;
}
.form-control::placeholder {
    color: black;
}
.form-control:hover {
    background-color: #8cff92;
    height: 40px;
    border: 1px solid #1b2b2f;
}
.form-control:active {
    background-color: #07e4bf;
    height: 40px;
    border: 1px solid #0c31ff;
} 
.form-control:focus {
    background-color: #07e4bf;
    height: 40px;
    border: 1px solid #0c31ff;
} 

.navRightPrincipal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fas {
    size: 24px;
    color: #72c47d;
    cursor: pointer;
    line-height: 2;
 }
 .fas:hover {
   size: 24px;
   color: #00cbf3;
   cursor: pointer;
 }

a{
    text-decoration: none;
    color: #14839A;
}
a:hover{
    color: #00cbf3;
}

p{
    color: #000000;
}

button{
    background-color: #0CC7ED;
    border: 1px solid #0093AF;
    border-radius: 5px;
}
button:hover{
    background-color: #85C9D6;
}

.imgNovedades {
    border: 1px solid black;
    border-radius: 5px;
}
.cartelera {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.cube {
    margin: 20px !important;
    width: 270px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .33s;
    transition: transform .33s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cube .flip,
.cube .flop {
    border: 1px solid #000000; 
    text-align:center; 
    background:rgba(172, 219, 250, 0.651);
    color:#fff; 
    font-weight:bold;
    border-radius: 5px;
    height: 400px;
}
.cube .flip {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}
.cube .flop {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}
.cube:hover {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(90deg);
    cursor:pointer; 
}

@media (min-width: 600px) {
    .cartelera{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      flex:1;
    }
}


#corazon{
    color: rgba(255, 65, 65, 0.733);
    font-size: 1em;
    height: 24px;
}

#corazon:hover{
    color: red;
    font-size: 1.5em;
    height: 24px;
}
