/*@import "_vars.scss";*/

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$azulClaro: #65c1ff;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: rgb(14, 51, 100);
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 10px,
    rgba(0, 3, 44, 0.8) 9px,
    rgba(0, 27, 58, 0.8) 13px,
    transparent 13px
  );
  
  height: 100vh;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

h2{
  font-family: $open-sans;
  font-weight: bold;
}

.row {
  max-width: 900px;
  //margin: 50px auto 0;
}

// Base styles
.card {
  float: left;
  //padding: 0 1.7rem;
  width: 100%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $black;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
  }
  .data {
    position: absolute;
    bottom: 150px;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 12px;
  }
  .title {
    margin-top: 10px;
  }
  .text {
    color: white;
    height: 50px;
    margin: 0;
    width: 230px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

.peliculaCard {
    .wrapper {
        background-image: linear-gradient(to left, $regal-blue, $san-juan);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: $open-sans;
      &:hover {
        .menu-content {
          span {
            transform: translate(-50%, -10px);
            opacity: 1;
          }
        }
      }
    }
    .header {
      @include cf;
      color: $white;
      padding: 1em;
      .date {
        float: left;
        font-size: 12px;
      }
    }
    .menu-content {
      float: right;
      li {
        margin: 0 5px;
        position: relative;
      }
      span {
        transition: all 0.3s;
        opacity: 0;
      }
    }
    
    .data {
      color: $white;
      transform: translateY(calc(70px + 4em));
    }
    .title {
      a {
        color: $white;
      }
    }
    .button {
      display: block;
      width: 100px;
      margin: 2em auto 1em;
      text-align: center;
      font-size: 12px;
      color: $white;
      line-height: 1;
      position: relative;
      font-weight: 700;
      &::after {
        content: '\2192';
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(0, -50%);
        transition: all 0.3s;
      }
      &:hover {
        &::after {
          transform: translate(5px, -50%);
          opacity: 1;
        }
      }
    }
  }


.logo {
  max-width: 20%;
  margin-right: 3em;
}
.logo img{
  min-width: 4em;
  max-width: 4em;
}

.navbar {
  display: flex;
  align-items: center;
  font-family: $open-sans;
  background-color: #071c22d3;
  justify-content: center; 
}

.nav-uls {
  display: flex;
  align-items: center;
  font-family: $open-sans;
  justify-content: flex-start; 
  align-self: flex-end;
  min-width: 80%;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
}

.navbar-nav li{
  margin-left: 1.5em;
}


nav button{
    background-color: rgba(4, 155, 255, 0.651);
}



.buscar{
  width: 50%;
}
.input-group{
  display: flex;
  justify-content: center;
}


.form-control {
  background-color: #65c1ff;
  border: 1px solid #1b2b2f;
  color: #0011ff;
  height: 42px;
}
.form-control::placeholder {
    color: #0011ff;
    height: 42px;
}
.form-control:hover {
    background-color: #49b6ff;
    border: 1px solid #0011ff;
    height: 42px;
}
.form-control:active {
    background-color: #49b6ff;
    border: 1px solid #0011ff;
    height: 42px;
} 
.form-control:focus {
    background-color: #49b6ff;
    border: 1px solid #0011ff;
    height: 42px;
} 

.fas.fa-bars{
  font-size: 2em;
  max-width: fit-content;
  align-self: center;
}
.fas.fa-bars:hover{
  font-size: 2em;
  max-width: fit-content;
  align-self: center;
}

#navRightPrincipal {
  padding: 8%;
  background-color: rgb(23, 63, 90);
  border: 1px solid #0011ff;
}

.modal-dialog{
    min-width: 350px;
}
.modal-body {
      background-color: rgb(23, 63, 90);
      border: 1px solid #1D2728;
}
.modal-header {
      background-color:#071c22d3;
      border: none;
      align-items:center;
      border-radius: 0;
}
.modal-content:hover {
      border: 1px solid #14839A;
      box-shadow: #14839A;
}

.modal-open .container-fluid
{
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}


.fas {
    font-size: 1em;
    color: #49b6ff;
    cursor: pointer;
    line-height: 2;
 }
 .fas:hover {
   font-size: 1em;
   color: #d8ee14;
   cursor: pointer;
 }


a:hover{
    color: #00cbf3;
}

button{
    background-color: #0CC7ED;
    border: 1px solid #0093AF;
    border-radius: 5px;
}
button:hover{
    background-color: #85C9D6;
}

.imgNovedades {
    border: 1px solid black;
    border-radius: 5px;
}
.cartelera {
  padding: 3%;
  max-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cube {
  margin: 20px !important;
  width: 270px;
  max-width: fit-content;
  height: 400px;
  text-align: left;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .33s;
  transition: -webkit-transform .33s;
  transition: transform .33s;
  transition: transform .33s, -webkit-transform .33s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.cube .flip,
.cube .flop {
    border: 1px solid #000000; 
    text-align: left; 
    background:rgba(172, 219, 250, 0.651);
    color:#fff; 
    font-weight: bold;
    border-radius: 5px;
    height: 400px;
}
.cube .flip {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
}
.cube .flop {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}
.cube:hover {
    -webkit-transform: rotateX(89deg);
    transform: rotateX(90deg);
    cursor:pointer; 
}
.flop p {
    font-family: sans-serif;
    font-weight: 300;
}

@media (min-width: 600px) {
    .cartelera{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -moz-flex-flow: row wrap;
      flex-flow: row wrap;
      flex:1;
    }
}


#corazon{
    color: rgba(255, 65, 65, 0.733);
    font-size: 1em;
    height: 24px;
}

#corazon:hover{
    color: red;
    font-size: 1.5em;
    height: 24px;
}

#search-addon {
  margin-left: 5%;
  height: 42px;
  background-color: transparent;
}
#btnBuscar {
  font-size: 1.5em;
  color: #49b6ff;
  margin-left: 1em;
  margin-right: 1em;
}
#btnBuscar:hover {
  color: #d8ee14;
}


#modalAlerta{
    width: 100%;
}

.alert{
    width: max-content;
}



//LOGOTIPO*******************************************************************

h1 {
  margin-top: 5%;
  font-size: calc(20px + 9vh);
  line-height: calc(20px + 10vh);
  text-shadow: 0 0 5px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff, 0 0 40px #28a9ff, 0 0 60px #0011ff, 0 0 10px #0011ff, 0 0 98px #0011ff;
    color: #2ebdff;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}



@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff, 0 0 40px #28a9ff, 0 0 60px #0011ff, 0 0 10px #0011ff, 0 0 98px #0011ff;
      color: #2ebdff;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
      text-shadow: 0 0 5px #0099ff, 0 0 15px #0099ff, 0 0 20px #0099ff, 0 0 40px #28a9ff, 0 0 60px #0011ff, 0 0 10px #0011ff, 0 0 98px #0011ff;
      color: #2ebdff;
  }
}


//FOOTER***************************************************************************

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.challenge {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.challenge h1 {
  width: 100%;
}


.contenidoFooter {
  width: 100%;
  height: 320px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.contenidoFooter .shareButton.main .share, .contenidoFooter .shareButton.main .close, .contenidoFooter .shareButton.main .check {
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
.contenidoFooter .shareButton.main .share, .contenidoFooter .shareButton.main.open .close, .contenidoFooter .shareButton.main.sent .check {
  -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  opacity: 1;
}
.contenidoFooter .shareButton.main .close, .contenidoFooter .shareButton.main.open .share, .contenidoFooter .shareButton.main .check, .contenidoFooter .shareButton.main.sent .share {
  opacity: 0;
  -webkit-transform: rotate(90deg) scale(0);
          transform: rotate(90deg) scale(0);
}

.shareButton, .shareButton.open {
  border: none;
  border-radius: 50%;
  background: #0099ff;
  padding: 1rem;
  overflow: hidden;
  outline: none;
  margin: 0.5rem;
  width: 24px;
  height: 24px;
  box-sizing: content-box;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  position: relative;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.shareButton:hover, .shareButton.open:hover {
  -webkit-transform: scale(1.1) translateY(-3px);
          transform: scale(1.1) translateY(-3px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.shareButton svg, .shareButton.open svg {
  display: block;
  fill: #0011ff;
  width: 24px;
  height: 24px;
  opacity: 1;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fb, .shareButton.open.ig {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.tw, .shareButton.open.tw {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.ig, .shareButton.open.fb {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.fb, .tw, .ig {
  width: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.fb svg, .tw svg, .ig svg {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}