@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: #0e3364;
  background-image: repeating-linear-gradient(to bottom, transparent 10px, rgba(0, 3, 44, 0.8) 9px, rgba(0, 27, 58, 0.8) 13px, transparent 13px);
  color: white;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #65c1ff;
}

h2 {
  color: #65c1ff;
}

h4 {
  color: #65c1ff;
}

a {
  text-decoration: none;
}

.logo {
  max-width: 20%;
  margin-right: 3em;
}

.logo img {
  min-width: 4em;
  max-width: 4em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  background-color: #071c22d3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-uls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 80%;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav li {
  margin-left: 1.5em;
}

nav button {
  background-color: rgba(4, 155, 255, 0.651);
}

.fas.fa-bars {
  font-size: 2em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fas.fa-bars:hover {
  font-size: 2em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#navRightPrincipal {
  padding: 8%;
  background-color: #173f5a;
  border: 1px solid #0011ff;
}

.fas {
  font-size: 1em;
  color: #49b6ff;
  cursor: pointer;
  line-height: 2;
}

.fas:hover {
  font-size: 1em;
  color: #d8ee14;
  cursor: pointer;
}

a:hover {
  color: #00cbf3;
}

button {
  background-color: #0CC7ED;
  border: 1px solid #0093AF;
  border-radius: 5px;
}

button:hover {
  background-color: #85C9D6;
}

/*Migas de Pan*/
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  color: #034378;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.contenedorPelicula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#infoPelicula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
}

#infoPelicula #pSinopsis {
  max-width: 70%;
  margin: 20px;
}

.infoAdicional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #00101d;
  border-radius: 2em;
}

#container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#infoDirector {
  margin: 20px;
}

#infoActor {
  width: 30%;
  margin: 20px;
}

#infoGenero {
  margin: 20px;
}

#infoGenero p {
  display: inline;
  margin: 1%;
}

#infoPlataforma {
  margin: 20px;
}

.iconoPlataforma {
  border: #77d7b9 1px solid;
}

#trailer {
  margin-top: 2em;
  text-align: center;
}

.comentarios {
  margin: 20px;
}

.divComent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px;
  background-color: #b5dbf5;
  width: 480px;
  border-radius: 10px;
  margin-bottom: 3%;
  color: #034378;
}

.divComent p:first-child {
  font-size: 8pt;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.divComent p:last-child {
  font-weight: bold;
}

.divInsertComentario {
  margin: 20px;
}

.divInsertComentario button {
  margin: 20px;
  background-color: #0CC7ED;
  border: 1px solid #0093AF;
  border-radius: 5px;
}

.insertComentario {
  background-color: #b5dbf5;
  border-radius: 10px;
  width: 20em;
  height: 4em;
}

.insertComentario:hover {
  background-color: #76c2f5;
  border-radius: 10px;
  width: 20em;
  height: 4em;
}

.iconoPlataforma {
  border-radius: 10%;
  height: 4em;
  width: 4em;
}

.imgCaratula {
  width: 80%;
  max-height: 80%;
}

@media (min-width: 600px) {
  .contenedorPelicula {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.agregarLista {
  border: none;
  background-color: #65c1ff;
  margin-top: 1em;
  border-radius: 0.2em;
  min-width: 80%;
}

.agregarLista:hover {
  background-color: #2d4e68;
  color: #fff;
}

.pSinopsis {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.1em;
}

.modal-open .container {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#modalAlerta {
  width: 100%;
}

.alert {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.modal-dialog {
  min-width: 350px;
}

.modal-body {
  color: #65c1ff;
  background-color: #173f5a;
  border: 1px solid #1D2728;
}

.modal-header {
  background-color: #071c22d3;
  color: #65c1ff;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

.modal-open .container-fluid {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
/*# sourceMappingURL=pelicula.css.map */